html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: top;
    color: "pink";
}

h1{
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    //background:-moz-linear-gradient(top,#008B00,#00008B 70%);
    //background:-webkit-linear-gradient(top, #008B00,#00008B 70%);
    border: 1px solid black;
    text-align: center;
}
